* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  min-height: 20vh;
  display: grid;
  place-content: center;
}

main {
  flex: 100 1 auto;
  display: grid;
  place-content: center;
}
